# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Raw dataset
data/raw/

# Generated data
data/processed/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
